/* styles.css */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
#main .card-content {
    text-align: center;
}

/* Style for the filter container */
.filters-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if space is limited */
    gap: 20px; /* Adds space between each filter */
}

.filters-container .field {
    flex: 1 1 200px; /* Ensures each filter is responsive, minimum width of 200px */
}

.filters-container .field label {
    display: block;
}

.feature-list {
    list-style-type: none;
    padding: 0;
}
.feature-list li {
    margin: 10px 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.motherboard-item {
    margin-bottom: 30px;
}
.motherboard-item .card {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.motherboard-item .card-content {
    padding: 20px;
}

.cpu-item {
    margin-bottom: 30px;
}

.ram-item {
    margin-bottom: 30px;
}

.disk-item {
    margin-bottom: 30px;
}
.disk-item .card {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.disk-item .card-content {
    padding: 20px;
}